#include <stdint.h>
#include <string.h>
#include <crypto/sign/sphincs/params/common.h>
#include <crypto/sign/sphincs/adrs.h>
#include <crypto/sign/sphincs/hash.h>
#include <crypto/sign/sphincs/wots.h>
#include <crypto/sign/sphincs/xmss.h>

/* pk_seed: SPHINCS_N bytes, no assumptions, no data dependence
   sk_seed: SPHINCS_N bytes, no assumptions, no data dependence
   layer: No assumptions, no data dependence
   tree_addr_swapped: No assumptions, no data dependence
   keypair: 0 <= keypair < 2 ^ SPHINCS_XH, control flow dependence
   (keypair >= 2 ^ SPHINCS_XH is UB in the following sense: xmss_sign_and_pk will never call sphincs_wots_sign_and_pk, and accessing the first SPHINCS_WLEN * SPHINCS_N bytes of out will trigger UB)
   msg: SPHINCS_N bytes, no assumptions, control flow dependence due to call to wots_sign_and_pk
   out: (SPHINCS_WLEN + SPHINCS_XH) * SPHINCS_N bytes
   pk_out: SPHINCS_N bytes

   External calls:
   wots_sign_and_pk: 1 time, no assumptions, no output data dependence
   wots_gen_pk: 2 ^ SPHINCS_XH - 1 times, no assumptions, no output data dependence
   hash_h: 2 ^ SPHINCS_XH - 1 times, no assumptions, no output data dependence
 */

{% for inst in insts %}

#include <crypto/sign/sphincs/params/params_{{ inst.secbit }}_{{ inst.hash }}.h>

void sphincs_{{ inst.secbit }}_{{ inst.hash }}_xmss_sign_and_pk (const unsigned char * pk_seed, const unsigned char * sk_seed, uint8_t layer, uint64_t tree_addr_swapped, uint16_t keypair, const unsigned char * msg, unsigned char * out, unsigned char * pk_out) {
  const uint16_t num_leaves = 1u << SPHINCS_XH;
  unsigned char tmp[SPHINCS_N];
  unsigned char keys[SPHINCS_XH + 1][SPHINCS_N];

  uint32_t adrs[8];
  sphincs_adrs_set_layer (adrs, layer);
  sphincs_adrs_set_tree_addr_swapped (adrs, tree_addr_swapped);
  sphincs_adrs_set_keypair_swapped (adrs, 0);
  sphincs_adrs_set_type (adrs, SPHINCS_TREE);

  for (uint16_t i = 0; i < num_leaves; ++i) {
    uint32_t pos = __builtin_popcount (i);

    if (i == keypair) {
      sphincs_wots_sign_and_pk (pk_seed, sk_seed, layer, tree_addr_swapped, __builtin_bswap16 (i), msg, out, keys[pos]);
    } else {
      sphincs_wots_gen_pk (pk_seed, sk_seed, layer, tree_addr_swapped, __builtin_bswap16 (i), keys[pos]);
    }

    uint32_t pos_next = __builtin_popcount (i + 1);
    for (uint32_t j = pos; j >= pos_next; --j) {
      uint32_t h = pos - j + 1;

      if (i >> h == keypair >> h) {
	if (keypair & (1u << (h - 1))) {
	  memcpy (out + (SPHINCS_WLEN + h - 1) * SPHINCS_N, keys[j - 1], SPHINCS_N);
	} else {
	  memcpy (out + (SPHINCS_WLEN + h - 1) * SPHINCS_N, keys[j], SPHINCS_N);
	}
      }

      /* We have SPHINCS_XH <= 9 and h >= 1, therefore i >> h <= 255 */
      sphincs_adrs_set_word6 (adrs, h << 24);
      sphincs_adrs_set_word7 (adrs, (i >> h) << 24);
      sphincs_hash_h (pk_seed, adrs, keys[j - 1], keys[j], tmp);
      memcpy (keys[j - 1], tmp, SPHINCS_N);
    }
  }

  memcpy (pk_out, keys[0], SPHINCS_N);
}

#include <crypto/sign/sphincs/params/clear.h>

{% endfor %}
