#include <stdint.h>
#include <string.h>
#include <random.h>
#include <crypto/sign/sphincs/params/common.h>
#include <crypto/sign/sphincs/hash.h>
#include <crypto/sign/sphincs/fors.h>
#include <crypto/sign/sphincs/ht.h>
#include <crypto/sign/sphincs/sphincs.h>

/* sk: 4 * SPHINCS_N bytes, no assumptions, control flow dependence due to digest computation
   msg: Length specified by msg_len, no assumptions, control flow dependence due to digest computation
   msg_len: No assumptions within reasonable size, control flow dependence due to digest computation
   out: SPHINCS_N + SPHINCS_K * (SPHINCS_A + 1) * SPHINCS_N + SPHINCS_D * (SPHINCS_WLEN + SPHINCS_XH) * SPHINCS_N bytes

   External calls:
   getrandom: 1 time, no assumptions, control flow dependence on output data
   hash_prf_msg: 1 time, no assumptions, control flow dependence on output data
   sign_from_rand: 1 time, no assumptions, no output data dependence
 */

{% for inst in insts %}

#include <crypto/sign/sphincs/params/params_{{ inst.secbit }}_{{ inst.hash }}.h>

void sphincs_{{ inst.secbit }}_{{ inst.hash }}_sign_randomize (const unsigned char * sk, const unsigned char * msg, size_t msg_len, unsigned char * out) {
  const unsigned char * sk_prf = sk + SPHINCS_N;

  /* Generate randomness */
  unsigned char rand[SPHINCS_N];
  getrandom (rand, SPHINCS_N, 0);
  sphincs_hash_prf_msg (sk_prf, rand, msg, msg_len, out);

  /* Sign from randomness */
  sphincs_sign_from_rand (sk, msg, msg_len, out, out + SPHINCS_N);
}

#include <crypto/sign/sphincs/params/clear.h>

{% endfor %}
